{% load django_bootstrap5 %}

<div class="card border-dark">
    <form action="" method="post" novalidate>
        {% csrf_token %}

        <div class="card-header">
            상황 
            {% if form.instance.pk %}
                수정하기
            {% else %}
                생성하기
            {% endif %}
        </div>
    
        <div class="card-body">
            {% bootstrap_form form layout="horizontal" %}
        </div>
    
        <div class="card-footer text-end">
            <input 
                type="submit" 
                value="{% if form.instance.pk %}수정하기{% else %}생성하기{% endif %}"
                class="btn btn-primary" />
        </div>
    </form>
</div>